@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kvhs0h');
  src:  url('fonts/icomoon.eot?kvhs0h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kvhs0h') format('truetype'),
    url('fonts/icomoon.woff?kvhs0h') format('woff'),
    url('fonts/icomoon.svg?kvhs0h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e145";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-border_color:before {
  content: "\e22b";
}
.icon-call_made:before {
  content: "\e0b2";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-delete:before {
  content: "\e872";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-replay:before {
  content: "\e042";
}
.icon-undo:before {
  content: "\e166";
}
.icon-unfold_less:before {
  content: "\e5d6";
}
.icon-unfold_more:before {
  content: "\e5d7";
}



/*#panel-dropdown-links::-webkit-scrollbar {
    width: 1em;
    background: #fff;
}
 
#panel-dropdown-link::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #000;
}
 
#panel-dropdown-link::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/


/*---- CUSTOM SCROLL BAR ----*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.btn {
  height: 65px;
  line-height: 65px;
  vertical-align: middle;
  font-size: 1.17em;
  font-weight: bold;
  margin: 20px auto 0px auto;
  width: 60px;
  text-align: center;
  /*min-height: px;*/
  padding: 0px 20px;
  cursor: pointer;
  /*box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;*/

  /*background-color: #2ecc71;*/
  /*color: white;*/
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #f6f6f6;
}

.message.hidden {
  opacity: 0;
}

.message {

  color: white; 

  background: #2ecc71;

  width: 200px;
  padding: 10px;
  /*height: 36px;*/
  text-align: center;
  /*font-size: 16px;*/
  /*vertical-align: middle;*/
  /*line-height: 36px;*/

  border-radius: 0px 0px 10px 10px;

  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;


  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
   
  opacity: 1;
}

.options {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100%;
  opacity: 1;
  /*box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;*/
  transition: all 0.25s ease 0s;
  border-radius: 3px;
  overflow: hidden;
}

.option-line {
  transition: all 0.25s ease;
}

.option-line:hover {
  background: #f6f6f6;
}

.container-main {
  flex-shrink: 0;
  position: relative;
  width: calc(100% - 20px);
  max-width: 800px;
  min-height: 0px;
  min-width: 400px;
  visibility: visible;
  opacity: 1;
  margin: 50px auto 0px auto;
  padding: 0px 10px;
  transition: min-height 0.25s ease 0s;
}

.option-line {

  min-height: 65px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  /*font-size: 13px;*/
  cursor: pointer;
  opacity: 1;
  padding: 0px 20px;
}

.option-desc {
  /*font-size: 16px;*/

  /*display: flex;*/
  flex: 1 1 auto;
}

.option-desc h3 {
  /*height: 20px;*/
  /*font-size: 16px;*/
  padding: 2px 0px;
  margin: 0px;
}

.option-desc p {
  font-size: 13px;
  margin: 0px;
  padding: 2px 0px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;

  /*box-shadow: rgb(128, 128, 128) 0px 0px 2px inset;*/
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;

  /*box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;*/
}

*:focus {
  outline: none;
}

input:checked + .slider {
  background-color: #2ecc71;
}

/*input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}*/

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*------ DROP DOWN ------*/

#panel-dropdown-links.show {
  margin: 0px 0px 5px 0px;
  background: #fff;
  width: 100%;
  height: 240px;
  display: block;
  overflow-y: scroll;  
}

#panel-dropdown-links {
  height: 0px;
  overflow-y: hidden;

  transition: all 0.25s ease 0s;
}

.popup-container {
  width: 280px;
  /*height: auto;*/
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
  /*padding-right: 5px;*/
  /*min-height: 100px;*/
}

.line {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

#line-info-container {
  /*padding: 5px 5px;*/
  padding-left: 15px;
}

.btn-info {
  margin-bottom: 5px;
  margin-top: 10px;
  margin-right: 5px;
  height: 24px;
  padding: 5px 10px;
  overflow: hidden;
  transition: all 0.2s ease;
}

#line-info-container > button {
  border: 0px;
  background: #f6f6f6;
  cursor: pointer;
}

#line-url-input {
  align-items: stretch;
  position: relative;
}

.hover:hover {
  background: #f6f6f6;
}

.line-first {
  flex: 1 0 auto;
}

.link.removed {
  height: 0px;
  opacity: 0;
  margin-top: 0px;
}



.link {
  
  position: relative;

  width: 220px;
  height: 40px;
  opacity: 1;
  /*box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;*/
  transition: all 0.25s ease 0s;
  border-radius: 3px;
  overflow: hidden;

  padding: 0px 12px 0px 12px;

  margin-top: 5px;
  margin-left: 12px;
  margin-right: 14px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  
  /*align-items: flex-start;*/
  align-content: stretch;
}

.link:hover {
  background: #f6f6f6;
}

.link:hover .link-input{
  background: #f6f6f6;
}

#line-url-input {
  margin-top: 5px;
  /*margin-bottom: 5px;*/
  /*padding-right: 10px;*/
}

#url-input.toClean {
  /*padding-right: 24px;*/
}

#url-input {
  
  /*height: 40px;*/
  height: inherit;
  /*height: 27px;*/
  /*line-height: 40px;*/
  line-height: 24px;
  max-height: 136px;
  border: 0px;

  vertical-align: middle;
  
  margin: 0px 5px 0px 0px;
  /*padding: 0px 10px 0px 10px;*/
  padding-top: 8px;
  padding-bottom: 8px;

  padding-right: 16px;
  padding-left: 16px;
  transition: background 0.25s ease 0s;
  flex: 1 1 auto;

  resize: none;
}

#btn-clean, #btn-undo {
  /*position: absolute;
  top: 0;
  right: 45px;*/
  
  padding: 13px auto;
  border: 0px;

  cursor: pointer;

  transition: all 0.25s ease;
  background: none;

  /*border-bottom-left-radius: 10px;*/
  opacity: 0.5; 
}

#btn-clean:hover, #btn-undo:hover {
  opacity: 1;
}

#btn-clean.hidden, #btn-undo.hidden {
  display: none;
}

#btn-go {
  
  /*margin-top: -1px;*/
  width: 41px;
  /*height: 39px;*/
  /*height: 100%;*/
  padding: 10px;
  border: 0px;
  cursor: pointer;

  transition: all 0.25s ease;
  background: #ffffff;

}

#btn-go:hover {
  background: #f6f6f6;
}

.link.edit {
  height: 80px;
  flex-wrap: wrap;
}

.link-name {
  height: 32px;
  border: 0px;
  /*border-bottom: 1px solid black;*/
  margin-right: 4px;

  padding: 0 10px 0 10px;
  transition: all 0.25s ease 0s;

  width: 132px;
}

.link.edit .link-name:focus, .link.edit .link-url:focus {
  background: #ffffff;
  /*box-shadow: rgb(200, 200, 200) 0px 0px 2px inset;*/
}

#url-input:focus {
  background: #f6f6f6;
}

.link-url {
  /*display: none;*/
  height: 0px;
  opacity: 0;
  border: 0px;

  padding: 0 10px 0 10px;
  
  margin-top: -8px;
  transition: all 0.25s ease 0s;
}

.link-url.edit {
  height: 32px;
  flex: 1;
  opacity: 1;
}

.btn-dropdown {

  height: 40px;
  opacity: 1;
  /*box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;*/
  transition: all 0.25s ease 0s;
  /*border-radius: 3px;*/
  overflow: hidden;

  padding: 0px 4px 0px 16px;
  line-height: 40px;
  vertical-align: middle;

}

.link-btn-edit, #dropdown-icon, #add-icon, .link-btn-delete{
  /*width: 20px;*/
  /*height: 20px;*/
  /*display: flex;*/
  padding: 10px;
  /*line-height: 20px;*/
  /*vertical-align: middle;*/
  /*text-align: center;*/

  /*box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;*/
}

.link-btn-delete {
  overflow: hidden;
}

.link.edit:hover .link-btn-delete{
  opacity: 0;
}

#add-icon {
  opacity: 0;
  width: 0px;
  padding: 0px;
  transition: all 0.25s ease 0s;
}

#btn-dropdown-links.expanded #add-icon{
  width: 12px;
  opacity: 0.2;
  padding: 10px;
}

#btn-dropdown-links.expanded #add-icon:hover {
  /*background: #f6f6f6;*/
  opacity: 1;
}

.link.edit .link-btn-delete {
  /*display: none;*/
  padding: 0px;
  width: 0px;
  opacity: 0;

  transition: all 0.25s ease 0s;
}

.link.edit .link-btn-edit{
  opacity: 0;
}

.link-btn-edit, .link-btn-delete {
  display: default;
  opacity: 0;
  transition: all 0.25s ease 0s;
}

.link:hover .link-btn-edit,
.link:hover .link-btn-delete {
  opacity: 0.2;
}

.link-btn-add {
  opacity: 0.2;
  padding-left: 10px;
}

.link:hover .link-btn-add {
  opacity: 1;
}

.link:hover .link-btn-edit:hover,
.link:hover .link-btn-delete:hover {
  /*background: #ffffff;*/
  opacity: 1;
}

input:read-only {
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: progress;
}


/*CENTERED DELETE OVERLAY*/

.overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay.on {
  display: block;
}

.centered-pack {
  padding: 5px 5px 10px 5px;
  width: 84px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;

  text-align: center;
  /*line-height: 100%;*/
  margin-top: calc(50vh - 68px);
  /*padding-bottom: 50%;*/
  vertical-align: middle;
  background: #f6f6f6;
}

.line-icon-container {

  flex: 0 0 100%; /* fg: 0, fs: 0, fb: 100% */
  margin-bottom: 5px;

}

.line-icon {

  display: block;
  /*width: 100%;*/
  font-size: 42px;
  /*background: #ffffff;*/
  padding: 16px 0px;
  margin: 5px;
  text-align: center;

  /*border-radius: 10px 10px 0px 0px;*/
  /*border-radius: 0px 0px 10px 10px;*/
  /*border-radius: 16px;*/
  
}

.inline-icon {
  font-size: 2em;
  padding: 10px;
  flex-grow: 3;
}

.btn-icon {
  padding: 10px 10px;
  margin: 0px 5px 0px 5px;
  /*flex-grow: 1;*/
  cursor: pointer;
  opacity: 0.2;

  transition: all 0.25s ease 0s;
}

.btn-icon:hover {
  background: #ffffff;
  opacity: 1;
}


.toShrink {
  height: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 60px;

  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.toShrinkWidth {

  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 0px !important;
  
}








